.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 6rem;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
}

.employee-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4vh;
  gap: 2vh;
}

.employee-image img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
