<h1>Prikaz korisnika</h1>
<input [(ngModel)]="search">
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Ime</th>
    <th>Prezime</th>
    <th>Korisnicko ime</th>
    <th>Grad</th>
  </tr>
  </thead>
  <tr *ngFor="let user of getUsers()">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.username}}</td>
    <td>{{user.city.name}}</td>
    <td><button>Edit</button></td>
    <td><button (click)="removeUser(user.id)">Remove</button></td>
  </tr>
</table>

<button class="btn btn-primary" (click)="addUser()">Novi korisnik</button>

<div *ngIf="selectedUser != null">
  <label>Ime</label>
  <input [(ngModel)]="selectedUser.firstName">

  <label>Prezime</label>
  <input [(ngModel)]="selectedUser.lastName">

  <label>Username</label>
  <input [(ngModel)]="selectedUser.username">

  <label>Password</label>
  <input [(ngModel)]="selectedUser.password">

  <label>Grad</label>
  <select [(ngModel)]="cityId">
    <option *ngFor="let city of allCities" value="{{city.id}}">{{city.name}}</option>
  </select>

  <button (click)="save()">Snimi</button>
  <button (click)="cancel()">Otkaži</button>
</div>

<p>{{cityId}}</p>
